<div>
  <button class="lang-btn" [class.lang-btn--active]="language.langSetting() === 'en'" (click)="language.langSetting.set('en')">
    <div class="line"></div>
    EN
    <div class="line" [class.line--visible]="language.langSetting() === 'de'"></div>
  </button>
  <button class="lang-btn" [class.lang-btn--active]="language.langSetting() === 'de'" (click)="language.langSetting.set('de')">
    <div class="line"></div>
    DE
    <div class="line" [class.line--visible]="language.langSetting() === 'en'"></div>
  </button>
</div>
