@use '../../../../public/assets/styles/all-styles' as glob;

header {
  height: glob.use-clamp(80, 10vh, 105);
  max-width: glob.px-to-rem(1440);
  background-color: glob.$cream;
  @include glob.flex(row, center, space-between, 0);

  position: sticky;
  top: 0;
  z-index: 1000;

  div {
    @include glob.flex(row, center, center, 50);
  }
}
