@use '../../../../public/assets/styles/all-styles' as glob;

header {
  height: glob.$header-height;
  max-width: glob.px-to-rem(1440);
  background-color: glob.$cream;
  @include glob.flex(row, center, space-between, 0);

  position: sticky;
  top: 0;
  z-index: 1000;

  div {
    width: glob.px-to-rem(200);
    @include glob.flex(row, center, space-between, 50);

    @include glob.small-mobile() {
      width: glob.px-to-rem(170);
      gap: glob.px-to-rem(30);
    }
  }
}
