@use '../../../../public/assets/styles/all-styles' as glob;

.privacy-policy {
  @include glob.font-overpass(regular, 16, 16px, 16);
  @include glob.flex($justify: start);
  padding-top: glob.px-to-rem(30);
  padding-bottom: glob.px-to-rem(30);
  min-height: calc(100dvh - glob.$header-height - glob.$footer-height + 1px);

  @include glob.small-mobile() {
    min-height: calc(100dvh - glob.$header-height - glob.$footer-height-mobile + 1px);
  }

  h2 {
    @include glob.font-syne(x-bold, 24, 4.5vw, 70);

    @include glob.mobile() {
      hyphens: auto;
      overflow-wrap: break-word;
    }
  }

  h3 {
    color: glob.$green;
    @include glob.font-overpass(bold, 20, 20px, 20);
    margin-top: 30px;
  }
}
