@use '../../../../public/assets/styles/all-styles' as glob;

#hero {
  scroll-margin-top: glob.$scroll-margin-top;
}

.hero {
  min-height: calc(100vh - glob.$header-height);
  @include glob.flex();
  width: 100%;
  margin-bottom: glob.px-to-rem(50);

  .content-wrapper {
    min-height: calc(100vh - glob.$header-height);
    @include glob.flex($justify: space-evenly, $align: flex-start, $gap: 50);

    h1 {
      text-align: center;
      @include glob.font-syne(x-bold, 32, 10vw, 128);
    }

    .small-h1{
      @include glob.font-syne(x-bold, 32, 8.5vw, 115);

    }

    .heading {
      @include glob.flex(row, center, center, 24);

      .line {
        height: 4px;
        width: glob.use-clamp(130, 47vw, 690);
        background-color: black;
      }

      p {
        color: glob.$green;
        @include glob.font-overpass(bold, 18, 5vw, 48);
      }
    }

    .bottom-part {
      width: 100%;

      .mail-arrow {
        width: 100%;
        @include glob.flex(row, flex-end, space-between, 0);
      }
    }
  }
}
