<button (click)="toggleMenu()">
  <div [class.animation-open]="!menuClosed" [class.animation-close]="menuClosed" class="btn-img"></div>
</button>
<section class="menu" [class.closed-menu]="menuClosed">
  <div class="content-wrapper">
    <nav class="section-padding">
      <a class="menu-link" href="#about-me" (click)="toggleMenu()">About me</a>
      <a class="menu-link" href="#my-skills" (click)="toggleMenu()">My skills</a>
      <a class="menu-link" href="#portfolio" (click)="toggleMenu()">Portfolio</a>
    </nav>
    <div class="bottom-part section-padding">
      <h2>Say Hi!</h2>
      <div class="wrapper-info">
        <p>friedmann.lea@web.de</p>
        <social-links></social-links>
      </div>
    </div>
  </div>
</section>
