<footer>
  <div class="section-settings">
    <section class="section-top">
      <div class="logo-name">
        <my-logo logoColor="white"></my-logo>
        <p>© Lea Friedmann 2026</p>
      </div>
      <social-links></social-links>
    </section>
    <section class="legal-notice-wrapper">
      <div class="container">
        <a class="legal-notice" routerLink="legal-notice">
          @if (language.langSetting() == 'en') {
            Legal notice
          }
          @if (language.langSetting() == 'de') {
            Impressum
          }
        </a>
        <div class="line"></div>
      </div>
    </section>
  </div>
</footer>
