<footer class="section-padding">
  <section class="section-top">
    <div class="logo-name">
      <a class="logo" href="#hero">[LF]</a>
      <p>Lea Friedmann 2026</p>
    </div>
    <div class="socials">
      <a href=""><img src="./assets/images/github.png" alt="GitHub icon" /></a>
      <a href=""><img src="./assets/images/mail.png" alt="mail icon" /></a>
      <a href=""><img src="./assets/images/linkedin.png" alt="linkedIn icon" /></a>
    </div>
  </section>
  <section class="legal-notice-wrapper">
    <div class="container">
      <a class="legal-notice" href="">Legal notice</a>
      <div class="line"></div>
    </div>
  </section>
</footer>
