@use 'sass:map';
@use './functions' as func;
@use './maps' as m;

// #region layout
@mixin flex($direction: column, $align: center, $justify: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: func.px-to-rem($gap);
}

@mixin padding($tb-min, $tb-fluid, $tb-max, $rl-min, $rl-fluid, $rl-max) {
  padding: func.use-clamp($tb-min, $tb-fluid, $tb-max)
    func.use-clamp($rl-min, $rl-fluid, $rl-max);
}
// #endregion

// #region fonts
@mixin font-syne($weight, $min, $fluid, $max) {
  font-family: 'Syne';
  font-weight: map.get(m.$f-weight, $weight);
  font-size: clamp(func.px-to-rem($min), $fluid, func.px-to-rem($max));
}

@mixin font-overpass($weight, $min, $fluid, $max) {
  font-family: 'Overpass';
  font-weight: map.get(m.$f-weight, $weight);
  font-size: clamp(func.px-to-rem($min), $fluid, func.px-to-rem($max));
}
// #endregion

// #region mediaquery
@mixin respond($min-size, $max-size){
  @media screen and (min-width: map.get(m.$breakpoints-min, $min-size)) and (max-width: map.get(m.$breakpoints-max, $max-size)){
    @content;
  };
};
// #endregion
