@use './mixins' as mix;
@use './functions' as func;

@mixin button() {
  padding: clamp(8px, 2vw, 20px);
  border: 4px solid black;
  @include mix.font-overpass(regular, 18, 3vw, 23);
  text-align: center;
  width: func.use-clamp(100, 25vw, 180);

  &:hover {
    font-weight: 700;
    width: func.use-clamp(105, 28vw, 200);
  }
}
