@use './mixins' as mix;
@use './functions' as func;

@mixin button($type: primary) {
  padding: clamp(12px, 3vw, 16px);
  border: 4px solid black;
  @include mix.font-overpass(regular, 20, 3vw, 23);
  text-align: center;
  transition: 0.15s ease;

  @if ($type == primary) {
    width: func.use-clamp(100, 25vw, 180);
  } @else if ($type == secondary) {
    width: func.use-clamp(160, 25vw, 220);
  }

  &:hover {
    font-weight: 700;
    @if ($type == primary) {
      width: func.use-clamp(105, 28vw, 200);
      transition: 0.1s ease;

    } @else if ($type == secondary) {
      transition: 0.2s ease;
      width: func.use-clamp(200, 30vw, 260);
    }
  }
}
