@use '../../../../../public/assets/styles/all-styles' as glob;

.arrow-section {
  width: 100%;
  margin: glob.px-to-rem(36) 0;
  @include glob.flex();

  .content-wrapper {
    @include glob.flex($align: flex-end, $justify: flex-end);

    &--mirrored {
      @include glob.flex($align: flex-start, $justify: flex-start);
    }

    .arrow-animation {
      position: relative;
      width: glob.use-clamp(250, 25vw, 300);
      aspect-ratio: 1 / 1;

      &--mirrored {
        transform: scaleX(-1);
      }

      .frame {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        &__1 {
          opacity: 1;
        }
      }
    }
  }
}

.animate {
  .frame__1 {
    animation: frame1 0.5s forwards;
  }

  .frame__2 {
    animation: frame2 0.5s forwards;
  }

  .frame__3 {
    animation: frame3 0.5s forwards;
  }
}

@keyframes frame1 {
  0%,
  33% {
    opacity: 1;
  }

  34%,
  100% {
    opacity: 0;
  }
}

@keyframes frame2 {
  0%,
  33% {
    opacity: 0;
  }

  34%,
  66% {
    opacity: 1;
  }

  67%,
  100% {
    opacity: 0;
  }
}

@keyframes frame3 {
  0%,
  66% {
    opacity: 0;
  }

  67%,
  100% {
    opacity: 1;
  }
}
