@use '../../../../public/assets/styles/all-styles' as glob;

.section-legal-notice {
  @include glob.font-overpass(regular, 16, 16px, 16);
  padding-bottom: 30px;
  @include glob.flex();
  min-height: calc(100dvh - glob.$footer-height - glob.$header-height);

  @include glob.small-mobile() {
    min-height: calc(100dvh - glob.$footer-height-mobile - glob.$header-height);
  }

  h3 {
    color: glob.$green;
    @include glob.font-overpass(bold, 20, 20px, 20);
    margin-top: 30px;
  }
}
