<form [formGroup]="contactForm" (ngSubmit)="formSubmit()">
  <div class="border" [class.border--primary]="!nameFocused()" [class.border--focused]="nameFocused()">
    <label for="YourName" [class.border-touched]="nameFocused()">
      @if (nameFocused()) {
        Your name
      }
    </label>
    <input id="YourName" type="text" formControlName="name" (focus)="nameFocused.set(true)" placeholder="{{ placeHolderName() }}" />
  </div>
  <div class="errorWrapper">
    @if (name?.hasError('required') && name?.touched) {
      <p class="error">Your Name is required</p>
    } @else if (name?.hasError('stringTooShort') && name?.touched) {
      <p class="error">Please enter at least three characters</p>
    } @else if (name?.hasError('pattern') && name?.touched) {
      <p class="error">Please use only letters and valid name characters</p>
    }
  </div>

  <div class="border" [class.border--primary]="!mailFocused()" [class.border--focused]="mailFocused()">
    <label for="mail">
      @if (mailFocused()) {
        Your email
      }
    </label>
    <input id="mail" type="text" formControlName="email" (focus)="mailFocused.set(true)" placeholder="{{ placeHolderEmail() }}" />
  </div>

  <div class="errorWrapper">
    @if (
      ((email?.hasError('email') && email?.touched) ||
        email?.hasError('pattern') ||
        email?.hasError('tooManyDots') ||
        email?.hasError('adjacentSpecialCharacters')) &&
      email?.touched
    ) {
      <p class="error">Please use a valid E-Mail adress</p>
    } @else if (!email?.valid && email?.touched) {
      <p class="error">Your E-Mail is required</p>
    }
  </div>

  <div class="border" [class.border--primary]="!messageFocused()" [class.border--focused]="messageFocused()">
    <label for="message">
      @if (messageFocused()) {
        Your message
      }
    </label>
    <textarea
      id="message"
      type="text"
      formControlName="message"
      (focus)="messageFocused.set(true)"
      placeholder="{{ placeHolderMessage() }}"
    ></textarea>
  </div>

  <div class="errorWrapper">
    @if (message?.hasError('required') && message?.touched) {
      <p class="error">Your message is empty</p>
    } @else if (message?.hasError('stringTooShort')) {
      <p class="error">Please type in at least 10 characters</p>
    }
  </div>

  <div class="checkbox">
    <input id="check" type="checkbox" formControlName="checkbox" />
    <label for="check"
      >I've read the <a routerLink="privacy-policy">privacy policy</a> and agree to the processing of my data as outlined.</label
    >
  </div>

  <div class="errorWrapper">
    @if (!checkbox?.valid && checkbox?.touched) {
      <p class="error">Please accept the privacy policy.</p>
    }
  </div>

  <div class="btn-wrpr">
    <button [class.no-hover]="!contactForm.valid" type="submit">Send message</button>
  </div>
</form>
