@use '../../../../../public/assets/styles/all-styles' as glob;

form {
  background-color: black;
  color: glob.$cream;
  @include glob.font-overpass(regular, 16, 16px, 16);
  width: glob.use-clamp(260, 80%, 650);
  padding: 20px 0;
}

.border {
  border-bottom: 2px glob.$cream solid;
  border-top: 2px transparent solid;
  margin-top: glob.px-to-rem(16);
  margin-bottom: glob.px-to-rem(8);
  padding: glob.px-to-rem(12) glob.px-to-rem(8) glob.px-to-rem(6) glob.px-to-rem(8);

  &--primary {
    &:hover {
      outline: 3px glob.$cream solid;
      border-bottom: 2px transparent solid;
    }
  }

  &--focused {
    border: 2px glob.$cream solid;

    label {
      position: absolute;
      top: 0;
      left: 3%;
      transform: translate(0, -50%);
      padding: 0 glob.px-to-rem(8);
      background: black;
      z-index: 1;
    }
  }
}

input,
textarea {
  width: glob.use-clamp(200, 100%, 600);
  outline: none;

  &:focus {
    background-color: black;
  }
}

textarea {
  min-height: glob.px-to-rem(100);
}

.checkbox {
  @include glob.flex(row, center, flex-start, 8);
  margin-top: glob.px-to-rem(16);
  margin-bottom: glob.px-to-rem(8);

  input {
    width: auto;
  }

  label {
    font-size: glob.px-to-rem(14);

    a {
      color: glob.$green;
      
      &:hover {
        text-shadow:
          0.3px 0 0 currentColor,
          -0.3px 0 0 currentColor;
      }
    }
  }
}

.btn-wrpr {
  margin-top: 16px;
  width: 100%;
  @include glob.flex();
  button {
    @include glob.button(submit);
  }
  .no-hover {
    color: gray;
    border-color: gray;
  }
}

.errorWrapper {
  min-height: 17px;

  .error {
    color: glob.$red;
    @include glob.font-overpass(regular, 14, 14px, 14);
  }
}
