@use '../public/assets/styles/all-styles' as glob;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  list-style: none;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  background: initial;
  border: initial;
}

// html:not(:has(.menu.closed-menu)) {
//   scrollbar-gutter: stable;
// }

body {
  background-color: glob.$cream;
  min-height: 100%;
}

// prevent background scroll when menu is open
body:not(:has(.menu.closed-menu)) {
  overflow: hidden;
}

.section-settings {
  padding: 0 glob.use-clamp(16, 6vw, 100);
  max-width: glob.$content-max-width;
  width: 100%;
}

h2 {
  @include glob.font-syne(x-bold, 28, 6.5vw, 78);
  margin-bottom: glob.px-to-rem(48);

  &:hover {
    color: glob.$green;
  }
}

a,
button {
  cursor: pointer;
}

.text-regular {
  @include glob.font-overpass(regular, 20, 2vw, 22);
}
