/* You can add global styles to this file, and also import other style files */
@use '../public/assets/styles/all-styles' as glob;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

body{
    background-color: glob.$cream;
    @include glob.flex()
}

main{
    max-width: glob.px-to-rem(1440);
    padding: 0 glob.use-clamp(8, 7vw, 100);
}