<section id="about-me" class="section-padding">
  <h2>About me</h2>
  <div class="wrapper-content">
    <section class="text-part text-regular">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem repellat necessitatibus odio nulla. Illo magni harum officiis veniam
        laboriosam placeat cupiditate alias corrupti dolorem ad, minima praesentium explicabo autem aliquam.
      </p>
      <div class="wrapper-icons">
        <div class="icon-and-text">
          <img src="./assets/images/house-icon.png" alt="icon house" />
          <p>Based in Freiburg im Breisgau</p>
        </div>
        <div class="icon-and-text">
          <img src="./assets/images/laptop-icon.png" alt="icon laptop" />
          <p>Open to work Remote</p>
        </div>
      </div>
      <div class="wrpr-btn">
        <a href="">Let's talk</a>
      </div>
    </section>
    <img class="portrait" src="./assets/images/portrait.jpg" alt="portrait" />
  </div>
</section>
