@use '../../../../public/assets/styles/all-styles' as glob;

#about-me {
  scroll-margin-top: glob.$scroll-margin-top;
  @include glob.flex();
}

h2 {
  text-align: left;

  @include glob.mobile() {
    text-align: center;
  }
}

.wrapper-content {
  @include glob.flex(row, flex-start, space-between, 48);

  @include glob.mobile() {
    flex-direction: column;
    align-items: center;
  }
}

.text-part {
  @include glob.flex(column, flex-start, flex-start, 0);
}

.wrapper-icons {
  padding: glob.use-clamp(24, 10vw, 48) 0;

  .icon-and-text {
    @include glob.flex(row, center, flex-start, 16);
    padding: glob.use-clamp(4, 0.4vw, 6) 0;

    img {
      width: glob.use-clamp(32, 3vw, 40);
    }
  }
}

.wrpr-btn {
  width: 100%;
  @include glob.flex();

  a {
    @include glob.button(secondary);
  }
}

.portrait-wrapper {
  width: glob.use-clamp(260, 40vw, 550);
  height: glob.use-clamp(260, 40vw, 550);
  aspect-ratio: 1/1;
  padding: 16px;

  &::after {
    content: '';
    width: 120px;
    height: 200px;
    border-bottom: 3px black solid;
    border-left: 3px black solid;
    position: absolute;
    bottom: 0;
    left: 0;

    @include glob.small-mobile() {
      height: 160px;
      width: 80px;
    }
  }

  &::before {
    content: '';
    width: 120px;
    height: 200px;
    border-top: 3px black solid;
    border-right: 3px black solid;
    position: absolute;
    top: 0;
    right: 0;

    @include glob.small-mobile() {
      height: 160px;
      width: 80px;
    }
  }

  img {
    height: 100%;
    width: 100%;
  }

  @include glob.mobile() {
    width: glob.use-clamp(260, 100%, 550);
    height: glob.use-clamp(260, 100%, 550);
    aspect-ratio: 1/1;
  }
}
